* {
    margin: 0;
    padding: 0;
    box-sizing: border;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: rgb(86, 165, 255);
    height: 100%;
    width: 100%;
}
form {
    width: 100%;
}
.container {
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.695);
    color: white;
    gap: 20px;
    width: 320px;
}
.form-input {
    position: relative;
    margin: 20px 0 40px;
}
.form-input input {
    width: 100%;
    position: relative;
    display: block;
    padding: 10px 0px 10px 0;
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    z-index: 999;
    caret-color: white;
    color: white;
}
.form-input label {
    position: absolute;
    top: 10px;
    font-size: 20px;
}
.form-input label span {
    display: inline-block;
    transform: translateY(0);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-input input:valid + label span,
.form-input input:focus + label span {
    transform: translateY(-25px);
    color: rgb(86, 165, 255);
}
button {
    width: 100%;
    padding: 16px 12px;
    color: white;
    background-color: rgb(86, 165, 255);
    border: 0;
    transition: 0.5s;
    font-size: 18px;
}
button:hover {
    background-color: rgb(62, 120, 186);
}
a {
    text-decoration: none;
    color: rgb(86, 165, 255);
    transition: 0.3s;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}